---
/**
 * Displays a poster as a infobox on the right side.
 * URL = "https://{host}/{category}/{poster}.{format}"
 * * @param {string} poster - The poster to show.
 * * @param {string} [category] - The category of the poster. Defaults to `FtrIcon`.
 * * @param {string} [host] - The host of the poster. Defaults to `acnhcdn.com/latest`.
 * * @param {string} [format] - The format of the poster. Defaults to `png`.
 * * @param {string} [class] - Classes to add to the div.
 * * @param ...restProps - Any other props to give to the div.
 */

import type { HTMLAttributes } from "astro/types";

type Props = {
    poster: string;
    category?: string;
    host?: string;
    format?: string;
    class?: string;
} & HTMLAttributes<"div">;

const {
    poster,
    category,
    host,
    format,
    class: customClass,
    ...restProps
} = Astro.props;
---

<div
    class:list={[
        "float-right ml-4 mb-4 bg-black/10 dark:bg-white/10 py-2 rounded-lg",
        customClass,
    ]}
    {...restProps}
>
    <img
        src={"https://" +
            (host ?? "acnhcdn.com/latest") +
            "/" +
            (category ?? "FtrIcon") +
            "/" +
            poster +
            "." +
            (format ?? "png")}
    />
</div>
